/*
/cards/result_full.json
!.gitignore
!DefaultRoutine.cs
!DefaultRoutineSettings.cs
!SettingsGui.xaml
!silverfish_HB.cs
!Silverfish.csproj
!Silverfish.sln
!LICENSE
!README.md
!/ai
!/behavior
!/cards
!/data
!/penalties